<div is="flynt-list-products" class="flyntComponent">
  <div class="listProducts">
    {% if isArchive %}
      <h2>Archive</h2>
    {% else %}
      <h2><a href="{{ overviewPage }}">{{ titleText }}</a></h2>
    {% endif %}
    {% if products %}
    <ul>
      {% for product in products %}
        <li>
          <a href="{{ product.link }}">{{ product.post_title }}</a>
          {% if product.terms('product-type') %}
            <small>{{ productTypesLabel }}: {{ product.terms('product-type') | join(', ') }}</small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
