<div is="wps-teaser-grid">
  <ul class="teaserGrid">
    {% for teaser in teaserItems %}
      {% if teaser.linkType == 'internalLink' %}
        <li>
          <a href="{{ teaser.post.link }}" title="{{ teaser.post.title }}" target="{{ teaser.linkTarget }}">
            <h3>{{ teaser.post.title }}</h3>
            {% if teaser.post.thumbnail.src %}
              <img class="teaserGrid-imageElement" srcset="
              {{ teaser.post.thumbnail.src | resize(400, 200) }} 400w,
              {{ teaser.post.thumbnail.src | resize(800, 400) }} 800w,
              {{ teaser.post.thumbnail.src | resize(1200, 600) }} 1200w,
              {{ teaser.post.thumbnail.src | resize(1600, 800) }} 1600w"
              src="{{teaser.post.thumbnail.src}}"
              sizes="100vw"
              alt="{{ teaser.post.title }}"/>
            {% endif %}
          </a>
        </li>
      {% elseif teaser.linkType == 'externalLink' %}
        <li>
          <a href="{{ teaser.pageUrl }}" title="{{ teaser.titleText }}" target="{{ teaser.linkTarget }}">
            <h3>{{ teaser.titleText }}</h3>
            {% if teaser.image.src %}
            <img class="teaserGrid-imageElement" srcset="
              {{ teaser.image.src | resize(400, 200) }} 400w,
              {{ teaser.image.src | resize(800, 400) }} 800w,
              {{ teaser.image.src | resize(1200, 600) }} 1200w,
              {{ teaser.image.src | resize(1600, 800) }} 1600w"
              src="{{ teaser.image.src }}"
              sizes="100vw"
              alt="{{ teaser.titleText }}"/>
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
