<div class="flyntComponent" data-key="{{ apiKey }}" is="flynt-map-google">
  <div class="map">
    <div class="map-wrapper" data-marker="{{ markerIcon }}" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}" data-zoom="{{ zoomLevel }}" data-content="{{ infoContent }}"></div>
  </div>
</div>
