<div is="flynt-media-slider">
  <div class="mediaSlider">
    <ul class="mediaSlider-slides">
      {% for mediaSlide in mediaSlides %}
        <li class="mediaSlider-slide">
          {% if mediaSlide.mediaType == 'image' %}
            <img class="mediaSlider-imageElement" srcset="
              {{ mediaSlide.image.src | resize(576, 324) }} 576w,
              {{ mediaSlide.image.src | resize(768, 432) }} 768w,
              {{ mediaSlide.image.src | resize(1200, 675) }} 1200w"
              src="{{ mediaSlide.image.src }}"
              sizes="(min-width: 1140px) 1140px, 100vw"
              alt="{{ mediaSlide.image.alt }}">
          {% elseif mediaSlide.mediaType == 'oembed' %}
            <div class="mediaSlider-oembed">
              <div class="mediaSlider-oembedVideoContainer">
                <div class="mediaSlider-oembedPosterImage">
                  <img class="mediaSlider-imageElement" srcset="
                    {{ mediaSlide.image.src | resize(576, 324) }} 576w,
                    {{ mediaSlide.image.src | resize(768, 432) }} 768w,
                    {{ mediaSlide.image.src | resize(1200, 675) }} 1200w"
                    src="{{ mediaSlide.image.src }}"
                    sizes="(min-width: 1140px) 1140px, 100vw"
                    alt="{{ mediaSlide.image.alt }}">
                </div>
                <div class="mediaSlider-oembedVideo">
                  {{ mediaSlide.oembedLazyLoad }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if mediaSliderTitle %}
            <div class="mediaSlider-slideTitle">
              {{ mediaSlide.titleText }}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
